@page
@model LoginModel
<form method="post">
    <input name="Username" placeholder="Username" />
    <input name="Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</form>