@page "{id:int}"
@model WoWGMS.Pages.Admin.Dashboard.Applications.DeleteModel
@{
    ViewData["Title"] = "Delete Application";
}

<h2>Delete Application</h2>
<p>Are you sure you want to delete application from <strong>@Model.Application.CharacterName</strong>?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>