@page
@using WowGMSBackend.Model

@model CreateApplicationModel
<div style="text-align: center;">
    <h2>Send an application</h2>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdXw4EZufH15AYxEdPWWWpYgD_qeVeo7ySkfAgm47iKqa0oHw/viewform?embedded=true" width="1280" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

