@page
@using WoW.Model

@model CreateApplicationModel

<h2>Send en ansøgning</h2>

<form method="post">
    <div>
        <label>Discord navn:</label>
        <input asp-for="Application.DiscordName" />
    </div>
    <div>
        <label>Character navn:</label>
        <input asp-for="Application.CharacterName" />
    </div>
    <div>
            <label>Klasse:</label>
            <select asp-for="Application.Class" asp-items="Html.GetEnumSelectList<Class>()"></select>
    </div>
    <div>
        <label>Foretrukken rolle:</label>
        <select asp-for="Application.Role" asp-items="Html.GetEnumSelectList<Role>()"></select>
    </div>

    <button type="submit">Send ansøgning</button>
</form>
